body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-color: #070807;
    color: white;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
}

.text-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.text-block {
    flex: 1;
    margin: 0 10px;
    text-align: justify;
}

.main-button {
    display: inline-flex;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    margin-top: 40px;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
    background-color: #070807;
    color: rgb(30, 215, 96);
    padding: 10px 30px 15px;
    border: none;
    border-radius: 20px; /* Rounded corners */
    font-size: 24px;
    font-weight: 500;
    transition: background-color 0.3s ease; /* Smooth background color transition */
    letter-spacing: -0.02em;
}

.main-button>img {
    /* transform: translate(0px, 7px); */
    vertical-align: middle;
    margin-left: 5px;
}

.main-button:hover {
    background-color: #1c251d; /* Darker green on hover */
}

