/* Basic reset to ensure consistent styling across browsers */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    color: #fff;
}

body {
    background-color: #0f0c0c;
}

.main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start; /* Align items at the start of the container */
    width: 100%; /* Ensure the parent div takes up the full width */
}

a {
    text-decoration: none;
}

.welcome-user {
    margin: 40px 0 0 140px;
}

.welcome-user>h1 {
    font-size: 45px;
}

.welcome-user>h1>a {
    color: #1db954;
    /* transition into lighter color on hover */
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
}

.welcome-user>h1>a:hover {
    color: rgb(92, 230, 140);
}

.welcome-user>h1>a>img {
    border-radius: 100%;
    height: 35px;
    width: 35px;
}
.tracks-list {
    flex: 1; /* Each .tracks-list class div takes up equal space */
    margin: 0 10px; /* Optional: Add some margin between the lists */
    overflow: auto; /* Allow scrolling if the content overflows */
    width: 45%;
}

.tracks-list>p {
    margin: 100px 0 10px 40px;
    font-size: 38px;
}

/* Container for each track */
.track-container {
    display: flex;
    align-items: center;
    padding: 10px 10px 10px 50px;
    margin-bottom: 10px;
    border-radius: 8px;
    background-color: #0f0c0c;
    
    -o-transition:.25s;
    -ms-transition:.25s;
    -moz-transition:.25s;
    -webkit-transition:.25s;
    transition:.25s;
}

.track-container:hover {
    background-color: #272121;
}

/* Styling for the track image */
.track-image {
    width: 60px;
    height: 60px;
    margin-right: 15px;
    object-fit: cover;
}

/* Container for the text information */
.track-info {
    display: flex;
    flex-direction: column;
}

/* Styling for the track name */
.track-name {
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    margin-bottom: 5px;
}

/* Styling for the artist name */
.track-artist {
    font-size: 14px;
    color: #666;
}

#recommended_songs_list {
    width: 100vw;
}

/* fixed button at the bottom of the page redirects to list of recommended songs */
.fixed-button {
    position: fixed;
    bottom: 20px;
    right: 44vw;
    background-color: #28a745; /* Green color */
    color: white;
    border: none;
    border-radius: 50px;
    padding: 15px 30px;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
    z-index: 1000; /* Ensures the button is on top of other content */    
}

.fixed-button:hover {
    background-color: #218838; /* Darker green on hover */
}
