{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Track list</title>
        <link rel="stylesheet" href="{% static 'index_styles.css' %}">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <div class="container">
            <div class="text-row">
                <div class="text-block" id="polish">
                    <h3>WAŻNA INFORMACJA</h3>
                    <p>
                        W grudniu 2024 Spotify wycofało wsparcie swojego API dla audio features, przez co ta aplikacja stała się bezużyteczna.<br>
                        Zachowuję jednak kod odpowiedzialny za obsługę audio features na wypadek, gdyby Spotify cofnęło wprowadzone zmiany.<br><br>

                        Aby ten projekt nie okazał się kompletną stratą czasu, będę go dalej prezentować, wykorzystując własny zestaw utworów muzycznych, 
                        na których testowałem działanie aplikacji.<br>
                        Oznacza to, że aplikacja nie będzie już generować rekomendacji na podstawie muzyki użytkownika, ponieważ nie jest w stanie uzyskać 
                        niezbędnych parametrów audio jego ulubionych utworów.<br><br>
                        Zamiast tego aplikacja zaprezentuje (jak mogłoby to wyglądać, gdyby wszystko działało poprawnie) rekomendacje oparte na zapisanych 
                        przeze mnie wcześniej piosenkach i ich cechach audio (plik demofile.txt w folderze music_recommender_project/data).<br>

                    </p>
                </div>

                <div class="text-block" id="english">
                    <h3>IMPORTANT NOTE</h3>
                    <p>
                        As of december 2024, Spotify deprecated their audio features endpoint, rendering this app useless.<br>
                        I am keeping the code responsible for handling audio features in case they revert the changes.<br><br>
                        
                        To not make this app a complete waste of time, I will be showcasing it further using my personal set of music tracks I tested the app with.<br><br>
                        This means that this app will no longer get any recommendations based on user's music, as the app can't get the much needed audio features 
                        of user's top music tracks and will instead showcase (what it would look like had it all worked out) recommendations based on my 
                        saved music data and it's audio features (demofile.txt in the music_recommender_project/data directory).<br>
                    </p>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="text-row">
                <div class="text-block" id="polish">
                    <h3>Aplikacja do polecania muzyki</h3>
                    <p>
                        projekt mający na celu polecanie piosenek w oparciu o Twoje dane z Spotify</br>
                        aplikacja ma dostęp do Twoich najbardziej słuchanych i zapisanych piosenek</br>
                        na ich podstawie, przy pomocy uczenia maszynowego, algorytm zwraca (play)listę polecanych utworów
                </p>
                </div>

                <div class="text-block" id="english">
                    <h3>Music recommender app</h3>
                    <p>
                        a project to recommend songs based on your Spotify data</br>
                        the application has access to your saved and most listened to songs</br>
                        based on them, using machine learning, the algorithm returns a (play)list of recommended songs
                    </p>
                </div>
            </div>

            <div class="button-row">
                <a class="main-button spotify-btn" href="/music_recommender_app/spotify/login/">
                    <img src={% static 'spotify-icon.png' %} alt="Spotify" height="35px"> Zaloguj się
                </a>
                <a class="main-button youtube-btn" href="https://www.youtube.com/watch?v=mAMqMbb0Vek" target="_blank" rel="noopener noreferrer">
                    <img src={% static 'youtube-icon.svg' %} alt="YouTube" height="35px"> Obejrzyj demo
                </a>
                <a class="main-button demofile-btn" href="{% url 'demofile_preview' %}">
                    <img src={% static 'textfile-icon.png' %} alt="txt" height="35px"> Zobacz demofile
                </a>
            </div>
        </div>
    </body>
</html>
