{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Track list</title>
        <link rel="stylesheet" href="{% static 'index_styles.css' %}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <a href="/music_recommender_app/spotify/login/">
            <button type="button">Zaloguj się przy użyciu <img src="{% static 'Spotify_logo_big.png' %}" alt="Spotify" height="30px"></button>
        </a>
    </body>
</html>