{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Spotify User Profile</title>
        <link rel="stylesheet" href="{% static 'track_list_styles.css' %}">
    </head>
    <body>
        <div class="welcome-user">
            <h1>
                <a href="{{user_profile.external_urls.spotify}}">{{ user_profile.display_name }}</a>, oto twoje polecane piosenki
            </h1>
        </div>

        <p style="font-size: 34px; margin-left: 150px;">
            WHAT TO DO<br>
            <ul style="margin-left: 150px;">
                <li>plik csv -> baza danych</li>
                <li>machine learning podpowiadanie</li>
                <li>wyszukiwanie top trackow artystow przez wpisanie imienia</li>
                <li>podstrona z informacjami danej piosenki + dane z pliku csv (dancability, etc.. + error jesli nie wyszuka piosenki)</li>
                <li>wywalic spotipy, dokonczyc wlasne funkcje</li>
                <li>DOCKER!!!!!!!!!!!!!</li>
            </ul>
        </p>


        <div class="main">
            <div id="recommended_songs_list" class="tracks-list">
                {% for song in tracks %}
                    <a href={{ song.track.external_urls.spotify }} target="_blank">
                        <div class="track-container">
                            <img src="{{ song.track.album.images.0.url }}" alt="Track Image" class="track-image">
                            <br><br>
                            <div class="track-info">
                                <div class="track-name">{{ song.track.name }} {{ song.track.id }}</div>
                                <div class="track-artist">
                                    {% for artist in song.track.artists %}
                                        {{ artist.name }}&nbsp;&nbsp;
                                    {% endfor %}
                                </div>
                            </div>
                            {% for key, val in song.audio_features.items %}
                                {{ key }}: {{ val }}<br>
                            {% endfor %}
                        </div>
                    </a>
                {% endfor %}
                {% comment %} {% for song in user_saved_tracks.items %}
                    {% for track_audio in user_tracks_audio_features %}
                        {% if track_audio.id == song.track.id %}
                            <a href={{ song.track.external_urls.spotify }} target="_blank">
                                <div class="track-container">
                                    <img src="{{ song.track.album.images.0.url }}" alt="Track Image" class="track-image">
                                    <br><br>
                                    <div class="track-info">
                                        <div class="track-name">{{ song.track.name }} {{ song.track.id }}</div>
                                        <div class="track-artist">
                                            {% for artist in song.track.artists %}
                                                {{ artist.name }}&nbsp;&nbsp;
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </a>
                            {% for k, v in track_audio.items %}
                                {{ k }}: {{ v }}<br>
                            {% endfor %}
                    
                        {% endif %}
                    {% endfor %}
                {% endfor %} {% endcomment %}
            </div>
        </div>
    </body>
</html>